$gradient: linear-gradient(45deg, #bf47fd, #002094);

$fake-white: #f9f9f9;

$black-1000: #1a1a1a;
$black-900: #2c3e50;
$black-800: #34495e;
$black-700: #4a4a4a;
$black-600: #5d5d5d;
$black-500: #6e6e6e;
$black-400: #7f7f7f;
$black-300: #8f8f8f;
$black-200: #9f9f9f;
$black-100: #afafaf;
$black-50: #bfbfbf;

$playground-bg: #020217;
